<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>필통</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, minimum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="T셀파, 필통"/>
    <meta name="description" content="온라인에서도 오프라인에서도, 디바이스만 있다면 누구나  즐겁게 수업에 참여할 수 있는 소통 도구 필통을 만나보세요."/>
    <script src="../../js/jquery.js"></script>
    <script src="../../js/jquery-ui.js"></script>

    <link rel="stylesheet" href="../../css/jquery-ui.css">
    <link rel="stylesheet" href="../../css/base.css">
</head>
<body>
<div class="wrap">


    <img src="https://kdj-java-4.s3.ap-northeast-2.amazonaws.com/tikitaka/test/252a8e5b.png">
    <main class="content-area error">
        <form method="post" action="/upload" enctype="multipart/form-data">
            <input type="file" name="file">
            <button>submit</button>
        </form>
    </main>

    <form action="/download">
        <button name="fileName" value="252a8e5b.png">252a8e5b.png</button>
    </form>


</div>
</body>
</html>
