	<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<title>필통</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, minimum-scale=1">
	<meta name="format-detection" content="telephone=no">
	<meta name="keywords" content="T셀파, 필통"/>
	<meta name="description" content="온라인에서도 오프라인에서도, 디바이스만 있다면 누구나  즐겁게 수업에 참여할 수 있는 소통 도구 필통을 만나보세요."/>
	<script src="../../js/jquery.js"></script>
	<script src="../../js/jquery-ui.js"></script>

	<link rel="stylesheet" href="../../css/jquery-ui.css">
	<link rel="stylesheet" href="../../css/base.css">
</head>
<body>
<div class="wrap">
	<!-- S : header -->
	<!--<header class="header">
        <p>해더 영역</p>
	</header>-->
	<!-- E : header -->

    <main class="content-area error">
		<div class="error-wrap">
            <img src="../../images/common/error.png" alt="">
            <h1 class="error-title">요청하신 페이지를 찾을 수 없습니다. </h1>
            <p class="error-desc">요청하신 페이지가 사라졌거나 잘못된 경로로 접근하여<br>
				일시적으로 사용할 수 없습니다.<br><br>
				입력하신 페이지 정보를 한번 더 확인해주시길 바랍니다. </p>
			<button type="button" class="btn-type-blue" onclick="location.href='/'">홈으로</button>
        </div>
    </main>

    <!-- S : footer -->
    <!--<footer class="footer">
        <p>푸터 영역</p>
    </footer>-->
    <!-- E : footer -->

</div>
</body>
</html>
