	<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<title>필통</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, minimum-scale=1">
	<meta name="format-detection" content="telephone=no">
	<meta name="keywords" content="T셀파, 필통"/>
	<meta name="description" content="온라인에서도 오프라인에서도, 디바이스만 있다면 누구나  즐겁게 수업에 참여할 수 있는 소통 도구 필통을 만나보세요."/>
	<script src="../../js/jquery.js"></script>
	<script src="../../js/jquery-ui.js"></script>

	<link rel="stylesheet" href="../../css/jquery-ui.css">
	<link rel="stylesheet" href="../../css/base.css">
</head>
<body>
<div class="wrap">
	<!-- S : header -->
	<!--<header class="header">
        <p>해더 영역</p>
	</header>-->
	<!-- E : header -->

    <main class="content-area error">
		<div class="error-wrap">
            <img src="../../images/common/system-bg.png" alt="">
            <h1 class="error-title">시스템 점검 안내</h1>
            <p class="system-info">점검 일자: YYYY.MM.DD~YYYY.MM.DD</p>
            <p class="error-desc">클래스 핑퐁 홈페이지를 방문해주셔서 감사합니다. <br>현재 시스템 점검 중으로 서비스 이용이 제한됩니다.</p>
        </div>
    </main>

    <!-- S : footer -->
    <!--<footer class="footer">
        <p>푸터 영역</p>
    </footer>-->
    <!-- E : footer -->

</div>
</body>
</html>
